# Chapter 12
# Tuples

This chapter presents one more built-in type, the tuple, and then
shows how lists, dictionaries, and tuples work together.
I also present a useful feature for variable-length argument lists,
the gather and scatter operators.

One note: there is no consensus on how to pronounce "tuple".
Some people say "tuh-ple", which rhymes with "supple".  But
in the context of programming, most people say "too-ple", which
rhymes with "quadruple"'.

## 12.1 Tuples are immutable

<font color="red">A tuple is a sequence of values.  The values can be any type, and
they are indexed by integers, so in that respect tuples are a lot
like lists.  The important difference is that tuples are immutable.</font>

Syntactically, a tuple is a comma-separated list of values:

```
>>> t = 'a', 'b', 'c', 'd', 'e'
```

Although it is not necessary, it is common to enclose tuples in
parentheses:

```
>>> t = ('a', 'b', 'c', 'd', 'e')
```

To create a tuple with a single element, you have to include a final
comma:

```
>>> t1 = 'a',
>>> type(t1)
<class 'tuple'>
```

A value in parentheses is not a tuple:

```
>>> t2 = ('a')
>>> type(t2)
<class 'str'>
```

Another way to create a tuple is the built-in function `tuple`.
With no argument, it creates an empty tuple:

```
>>> t = tuple()
>>> t
()
```

If the argument is a sequence (string, list or tuple), the result
is a tuple with the elements of the sequence:

```
>>> t = tuple('lupins')
>>> t
('l', 'u', 'p', 'i', 'n', 's')
```

Because `tuple` is the name of a built-in function, you should
avoid using it as a variable name.

Most list operators also work on tuples.  The bracket operator
indexes an element:

```
>>> t = ('a', 'b', 'c', 'd', 'e')
>>> t[0]
'a'
```

And the slice operator selects a range of elements.

```
>>> t[1:3]
('b', 'c')
```

But if you try to modify one of the elements of the tuple, you get
an error:

```
>>> t[0] = 'A'
TypeError: object doesn't support item assignment
```

Because tuples are immutable, you can't modify the elements.  But you
can replace one tuple with another:

```
>>> t = ('A',) + t[1:]
>>> t
('A', 'b', 'c', 'd', 'e')
```

This statement makes a new tuple and then makes {\tt t} refer to it.

The relational operators work with tuples and other sequences;
Python starts by comparing the first element from each
sequence.  If they are equal, it goes on to the next elements,
and so on, until it finds elements that differ.  Subsequent
elements are not considered (even if they are really big).

```
>>> (0, 1, 2) < (0, 3, 4)
True
>>> (0, 1, 2000000) < (0, 3, 4)
True
```

In [1]:
t = ('a', 'b', 'c', 'd', 'e')

In [2]:
t

('a', 'b', 'c', 'd', 'e')

In [3]:
type(t)

tuple

In [4]:
t2 = ['a', 'b', 'c', 'd', 'e']
type(t2)

list

In [5]:
t2

['a', 'b', 'c', 'd', 'e']

In [6]:
t3 = 'a'
print(type(t3), t3)
t4 = 'a',
print(type(t4), t4)

<class 'str'> a
<class 'tuple'> ('a',)

In [7]:
type(t3)

str

In [9]:
t2[0] = 'AA'

In [11]:
t2

['AA', 'b', 'c', 'd', 'e']

In [12]:
t

('a', 'b', 'c', 'd', 'e')

In [13]:
t[0] = 'AA'

TypeError: 'tuple' object does not support item assignment

In [15]:
t = ('A',) + t[1:]
print(t)

('A', 'b', 'c', 'd', 'e')

In [16]:
(0, 1, 2) < (0, 3, 4)

True

In [17]:
(0, 1, 2000000) < (0, 3, 4)

True

## 12.2 Tuple assignment


It is often useful to swap the values of two variables.
With conventional assignments, you have to use a temporary
variable.  For example, to swap `a` and `b`:

```
>>> temp = a
>>> a = b
>>> b = temp
```

This solution is cumbersome; `tuple assignment` is more elegant:

```
>>> a, b = b, a
```

The left side is a tuple of variables; the right side is a tuple of
expressions.  Each value is assigned to its respective variable.  
All the expressions on the right side are evaluated before any
of the assignments.

The number of variables on the left and the number of
values on the right have to be the same:

```
>>> a, b = 1, 2, 3
ValueError: too many values to unpack
```

More generally, the right side can be any kind of sequence
(string, list or tuple).  For example, to split an email address
into a user name and a domain, you could write:

```
>>> addr = 'monty@python.org'
>>> uname, domain = addr.split('@')
```

The return value from `split` is a list with two elements;
the first element is assigned to `uname`, the second to
`domain`.

```
>>> uname
'monty'
>>> domain
'python.org'
```

In [21]:
a = 3
b = 5
a, b = b, a
print(a, b)

5 3

In [20]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [18]:
addr = 'monty@python.org'
t = addr.split('@')
print(type(t), t)

<class 'list'> ['monty', 'python.org']

In [19]:
uname, domain = addr.split('@')
print(uname, domain)
print(type(uname), type(domain))

monty python.org
<class 'str'> <class 'str'>

## 12.3 Tuples as return values

Strictly speaking, a function can only return one value, but
if the value is a tuple, the effect is the same as returning
multiple values.  For example, if you want to divide two integers
and compute the quotient and remainder, it is inefficient to
compute `x//y` and then `x%y`.  It is better to compute
them both at the same time.

The built-in function `divmod` takes two arguments and
returns a tuple of two values, the quotient and remainder.
You can store the result as a tuple:

```
>>> t = divmod(7, 3)
>>> t
(2, 1)
```

Or use tuple assignment to store the elements separately:

```
>>> quot, rem = divmod(7, 3)
>>> quot
2
>>> rem
1
```

Here is an example of a function that returns a tuple:

```
def min_max(t):
    return min(t), max(t)
```

`max` and `min` are built-in functions that find
the largest and smallest elements of a sequence.  `min_max`
computes both and returns a tuple of two values.

In [22]:
t = divmod(7, 3)
print(t)
print(type(t))

(2, 1)
<class 'tuple'>

In [23]:
quot, rem = divmod(7, 3)
print(quot, rem)
print(type(quot),type(rem))

2 1
<class 'int'> <class 'int'>

In [24]:
def min_max(t):
    # max and min are built-in functions that find the largest and smallest elements of a sequence
    return min(t), max(t)

a = [1,3,5,7, 8,6,4,2]
b,c = min_max(a)
print(a, b, c)

[1, 3, 5, 7, 8, 6, 4, 2] 1 8

## 12.4 Variable-length argument tuples

Functions can take a variable number of arguments.  A parameter
name that begins with `*` **gathers** arguments into
a tuple.  For example, `printall`
takes any number of arguments and prints them:

```
def printall(*args):
    print(args)
```

The gather parameter can have any name you like, but `args` is
conventional.  Here's how the function works:

```
>>> printall(1, 2.0, '3')
(1, 2.0, '3')
```

The complement of gather is **scatter**.  If you have a
sequence of values and you want to pass it to a function
as multiple arguments, you can use the `*` operator.
For example, `divmod` takes exactly two arguments; it
doesn't work with a tuple:

```
>>> t = (7, 3)
>>> divmod(t)
TypeError: divmod expected 2 arguments, got 1
```

But if you scatter the tuple, it works:

```
>>> divmod(*t)
(2, 1)
```

Many of the built-in functions use
variable-length argument tuples.  For example, `max`
and `min` can take any number of arguments:

```
>>> max(1, 2, 3)
3
```

But `sum` does not.

```
>>> sum(1, 2, 3)
TypeError: sum expected at most 2 arguments, got 3
```

As an exercise, write a function called `sum_all` that takes any number
of arguments and returns their sum.

In [28]:
def printall(*args):
    print(type(args))
    print(args)
    
printall("a", "b", 1, 2)

<class 'tuple'>
('a', 'b', 1, 2)

In [29]:
printall(["a", "b", "c"], 1, 2)

<class 'tuple'>
(['a', 'b', 'c'], 1, 2)

In [30]:
def printall(*args):
    print('length of args = ', len(args))
    print(args)
    
printall("a", "b", 1, 2)
printall(["a", "b", "c"], 1, 2)

length of args =  4
('a', 'b', 1, 2)
length of args =  3
(['a', 'b', 'c'], 1, 2)

In [33]:
divmod(7,3)

(2, 1)

In [34]:
t = (7,3)
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [35]:
divmod(*t)

(2, 1)

In [36]:
max(1, 2, 3)

3

In [37]:
sum(1, 2, 3)

TypeError: sum() takes at most 2 arguments (3 given)

### Positional argument and keyword argument

A **positional arguments (位置的引數)** is a name that is not followed by an equal sign (=) and default value. A **keyword argument (關鍵字引數)** is followed by an equal sign and an expression that gives its default value.

In [25]:
def fun(a, b):
    print('a =', a)
    print('b =', b)
    print('(a,b) = ', (a,b), type((a,b)))
    
x, y = 3, 5
fun(x,y)

a = 3
b = 5
(a,b) =  (3, 5) <class 'tuple'>

In [26]:
def fun(a, b):
    print('a =', a)
    print('b =', b)
    print('(a,b) = ', (a,b), type((a,b)))
    
x, y = 3, 5
fun(x,y)
fun(x)

a = 3
b = 5
(a,b) =  (3, 5) <class 'tuple'>

TypeError: fun() missing 1 required positional argument: 'b'

In [27]:
def fun(a, b=999):
    print('a =', a)
    print('b =', b)
    
fun(5)
fun(5,10)

a = 5
b = 999
a = 5
b = 10

In [13]:
def fun(a=123, b=999):
    print('a =', a)
    print('b =', b)
    
fun()
fun(5)
fun(5,10)
fun(b=3, a=2)

a = 123
b = 999
a = 5
b = 999
a = 5
b = 10
a = 2
b = 3

In [31]:
def fun2(a, b = 0):
    print('a = ', a)
    print('b = ', b)
    
fun2(5, 6)
fun2(5)

a =  5
b =  6
a =  5
b =  0

In [32]:
# You can combine the gather operator with required and positional arguments:

def pointless(required, optional=0, *args):
    print(required, optional, args)
    
pointless('Peter', 5, 1, 2, 3)
pointless('Peter')
pointless('Peter', 5)
pointless('Peter', 5, 1, 2.5)

Peter 5 (1, 2, 3)
Peter 0 ()
Peter 5 ()
Peter 5 (1, 2.5)

## 12.5 Lists and tuples

**zip** is a built-in function that takes two or more sequences and
interleaves them.  The name of the function refers to
a zipper (拉鍊), which interleaves two rows of teeth.

This example zips a string and a list:

```
>>> s = 'abc'
>>> t = [0, 1, 2]
>>> zip(s, t)
<zip object at 0x7f7d0a9e7c48>
```

The result is a **zip object** that knows how to iterate through
the pairs.  The most common use of `zip` is in a `for` loop:

```
>>> for pair in zip(s, t):
...     print(pair)
...
('a', 0)
('b', 1)
('c', 2)
```

A zip object is a kind of **iterator (迭代器)**, which is any object
that iterates through a sequence.  Iterators are similar to lists in some
ways, but unlike lists, you can't use an index to select an element from
an iterator.

If you want to use list operators and methods, you can
use a zip object to make a list:

```
>>> list(zip(s, t))
[('a', 0), ('b', 1), ('c', 2)]
```

The result is a list of tuples; in this example, each tuple contains
a character from the string and the corresponding element from
the list.

If the sequences are not the same length, the result has the
length of the shorter one.

```
>>> list(zip('Anne', 'Elk'))
[('A', 'E'), ('n', 'l'), ('n', 'k')]
```

You can use tuple assignment in a `for` loop to traverse a list of
tuples:

```
t = [('a', 0), ('b', 1), ('c', 2)]
for letter, number in t:
    print(number, letter)
```

Each time through the loop, Python selects the next tuple in
the list and assigns the elements to `letter` and 
`number`.  The output of this loop is:

```
0 a
1 b
2 c
```

If you combine `zip`, `for` and tuple assignment, you get a
useful idiom for traversing two (or more) sequences at the same
time.  For example, `has_match` takes two sequences, `t1` and
`t2`, and returns `True` if there is an index `i`
such that `t1[i] == t2[i]`:

```
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
    return False
```

If you need to traverse the elements of a sequence and their
indices, you can use the built-in function `enumerate` (列舉):

```
for index, element in enumerate('abc'):
    print(index, element)
```

The result from `enumerate` is an enumerate object, which
iterates a sequence of pairs; each pair contains an index (starting
from 0) and an element from the given sequence.
In this example, the output is

```
0 a
1 b
2 c
```

Again.

In [38]:
s = 'abc'
t = [0, 1, 2]
zip(s,t)

In [39]:
for pair in zip(s,t):
    print(pair)

('a', 0)
('b', 1)
('c', 2)

In [40]:
list(zip(s, t))

[('a', 0), ('b', 1), ('c', 2)]

In [41]:
list(zip('Anne', 'Elk'))

[('A', 'E'), ('n', 'l'), ('n', 'k')]

In [44]:
s = 'abc'
t = [0, 1, 2]
a = [3.0, 4.0, 5.9]
x = zip(s,t,a)
print(type(x))

for i in x:
    print(i)

<class 'zip'>
('a', 0, 3.0)
('b', 1, 4.0)
('c', 2, 5.9)

In [42]:
t = [('a', 0), ('b', 1), ('c', 2)]
for letter, number in t:
    print(number, letter)

0 a
1 b
2 c

### 以 zip 將兩個序列資料配對然後進行比較

In [46]:
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
    return False

a = [1,2,3]
b = [4,5,3]
has_match(a,b)

True

### 以 list 將兩個序列資料配對然後進行比較

In [47]:
def has_match2(t1, t2):
    n1 = len(t1)
    n2 = len(t2)
    if n1 > n2:
        num = n2
    else:
        num = n1
    for i in range(num):
        if t1[i] == t2[i]:
            return True
    return False

a = [1,2,3,4,5]
b = [4,5,5,2]
has_match2(a,b)

False

In [52]:
def has_match(t1, t2):
    t = zip(t1, t2)
    print('t = ', t)
    count = 0
    for x, y in t:
        print("count =", count)
        if x == y:
            return True
        count += 1
    return False

a = [1,5,3]
b = [4,5,6]
print(has_match(a,b))

t =  <zip object at 0x000001F6B0274708>
count = 0
count = 1
True

In [49]:
t = enumerate('abc')
print(t)

<enumerate object at 0x000001CFF2474D00>

In [50]:
for index, element in enumerate('abc'):
    print(index, element)

0 a
1 b
2 c

## 12.6 Dictionaries and tuples

Dictionaries have a method called `items` that returns a sequence of
tuples, where each tuple is a key-value pair.

```
>>> d = {'a':0, 'b':1, 'c':2}
>>> t = d.items()
>>> t
dict_items([('c', 2), ('a', 0), ('b', 1)])
```

The result is a `dict_items` object, which is an iterator that
iterates the key-value pairs.  You can use it in a `for` loop
like this:

```
>>> for key, value in d.items():
...     print(key, value)
...
c 2
a 0
b 1
```

As you should expect from a dictionary, the items are in no
particular order.

Going in the other direction, you can use a list of tuples to
initialize a new dictionary:

```
>>> t = [('a', 0), ('c', 2), ('b', 1)]
>>> d = dict(t)
>>> d
{'a': 0, 'c': 2, 'b': 1}
```

Combining `dict` with `zip` yields a concise way
to create a dictionary:

```
>>> d = dict(zip('abc', range(3)))
>>> d
{'a': 0, 'c': 2, 'b': 1}
```

The dictionary method `update` also takes a list of tuples
and adds them, as key-value pairs, to an existing dictionary.

It is common to use tuples as keys in dictionaries (primarily because
you can't use lists).  For example, a telephone directory might map
from last-name, first-name pairs to telephone numbers.  Assuming
that we have defined `last`, `first` and `number`, we
could write:

```
directory[last, first] = number
```

The expression in brackets is a tuple.  We could use tuple
assignment to traverse this dictionary.

```
for last, first in directory:
    print(first, last, directory[last,first])
```

This loop traverses the keys in `directory`, which are tuples.  It
assigns the elements of each tuple to `last` and `first`, then
prints the name and corresponding telephone number.

There are two ways to represent tuples in a state diagram.  The more
detailed version shows the indices and elements just as they appear in
a list.  For example, the tuple ('Cleese', 'John') would appear
as in Figure 12.1.

<img src="fig12_1.png">

But in a larger diagram you might want to leave out the
details.  For example, a diagram of the telephone directory might
appear as in Figure 12.2.

<img src="fig12_2.png">

Here the tuples are shown using Python syntax as a graphical
shorthand.  The telephone number in the diagram is the complaints line
for the BBC, so please don't call it.

In [51]:
d = {'a':0, 'b':1, 'c':2}
t = d.items()
print(t)

dict_items([('a', 0), ('b', 1), ('c', 2)])

In [52]:
t = [('a', 0), ('c', 2), ('b', 1)]
d = dict(t)
print(d)

{'a': 0, 'c': 2, 'b': 1}

In [53]:
t = [('a', 0), ('b', 2), ('b', 1)]
d = dict(t)  # key duplicated
print(d)

{'a': 0, 'b': 1}

In [54]:
t = zip('abc', range(3))
for i in t:
    print(i)

('a', 0)
('b', 1)
('c', 2)

In [55]:
d = dict(zip('abc', range(3)))
print(d)

{'a': 0, 'b': 1, 'c': 2}

In [56]:
s = 'abcde'
d = dict(zip(s, range(len(s))))
print(d)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [57]:
s = 'peter pan'
d = dict(zip(s, range(len(s))))
print(d)

{'p': 6, 'e': 3, 't': 2, 'r': 4, ' ': 5, 'a': 7, 'n': 8}

In [58]:
d = dict(zip('abc', range(3)))
d.update([('d',8), ('e', 7)])
print(d)

{'a': 0, 'b': 1, 'c': 2, 'd': 8, 'e': 7}

## 12.7 Sequences of sequences

I have focused on lists of tuples, but almost all of the examples in
this chapter also work with lists of lists, tuples of tuples, and
tuples of lists.  To avoid enumerating the possible combinations, it
is sometimes easier to talk about sequences of sequences.

In many contexts, the different kinds of sequences (strings, lists and
tuples) can be used interchangeably.  So how should you choose one
over the others?

To start with the obvious, strings are more limited than other
sequences because the elements have to be characters.  They are
also immutable.  If you need the ability to change the characters
in a string (as opposed to creating a new string), you might
want to use a list of characters instead.

Lists are more common than tuples, mostly because they are mutable.
But there are a few cases where you might prefer tuples:

1. In some contexts, like a `return` statement, it is
syntactically simpler to create a tuple than a list.

2. If you want to use a sequence as a dictionary key, you
have to use an immutable type like a tuple or string.

3. If you are passing a sequence as an argument to a function,
using tuples reduces the potential for unexpected behavior
due to aliasing.

Because tuples are immutable, they don't provide methods like 
**sort** and **reverse**, which modify existing lists.  But Python
provides the built-in function **sorted**, which takes any sequence
and returns a new list with the same elements in sorted order, and
**reversed**, which takes a sequence and returns an iterator that
traverses the list in reverse order.

## 12.8 Debugging

Lists, dictionaries and tuples are examples of {\bf data
  structures}; in this chapter we are starting to see compound data
structures, like lists of tuples, or dictionaries that contain tuples
as keys and lists as values.  Compound data structures are useful, but
they are prone to what I call **shape errors**; that is, errors
caused when a data structure has the wrong type, size, or structure.
For example, if you are expecting a list with one integer and I
give you a plain old integer (not in a list), it won't work.

To help debug these kinds of errors, I have written a module
called `structshape` that provides a function, also called
`structshape`, that takes any kind of data structure as
an argument and returns a string that summarizes its shape.
You can download it from 
http://thinkpython2.com/code/structshape.py

Here's the result for a simple list:

```
>>> from structshape import structshape
>>> t = [1, 2, 3]
>>> structshape(t)
'list of 3 int'
```

A fancier program might write "list of 3 int**s**", but it
was easier not to deal with plurals.  Here's a list of lists:

```
>>> t2 = [[1,2], [3,4], [5,6]]
>>> structshape(t2)
'list of 3 list of 2 int'
```

If the elements of the list are not the same type,
`structshape` groups them, in order, by type:

```
>>> t3 = [1, 2, 3, 4.0, '5', '6', [7], [8], 9]
>>> structshape(t3)
'list of (3 int, float, 2 str, 2 list of int, int)'
```

Here's a list of tuples:

```
>>> s = 'abc'
>>> lt = list(zip(t, s))
>>> structshape(lt)
'list of 3 tuple of (int, str)'
```

And here's a dictionary with 3 items that map integers to strings.

```
>>> d = dict(lt) 
>>> structshape(d)
'dict of 3 int->str'
```

If you are having trouble keeping track of your data structures,
`structshape` can help.

## 12.9 Glossary

- **tuple:** An immutable sequence of elements.

- **tuple assignment:** An assignment with a sequence on the
right side and a tuple of variables on the left.  The right
side is evaluated and then its elements are assigned to the
variables on the left.

- **gather:** An operation that collects multiple arguments into a tuple.

- **scatter:** An operation that makes a sequence behave like multiple arguments.

- **zip object:** The result of calling a built-in function `zip`;
an object that iterates through a sequence of tuples.

- **iterator:** An object that can iterate through a sequence, but
which does not provide list operators and methods.

- **data structure:** A collection of related values, often
organized in lists, dictionaries, tuples, etc.

- **shape error:**An error caused because a value has the
wrong shape; that is, the wrong type or size.

## 12.10 Exercises 

### Exercise 12.1

Write a function called `most_frequent` that takes a string and
prints the letters in decreasing order of frequency.  Find text
samples from several different languages and see how letter frequency
varies between languages.  Compare your results with the tables at
http://en.wikipedia.org/wiki/Letter_frequencies.  Solution:
http://thinkpython2.com/code/most_frequent.py.

### Exercise 12.2

More anagrams!

1. Write a program
that reads a word list from a file (see Section 9.1) and
prints all the sets of words that are anagrams.

  Here is an example of what the output might look like:

```
['deltas', 'desalt', 'lasted', 'salted', 'slated', 'staled']
['retainers', 'ternaries']
['generating', 'greatening']
['resmelts', 'smelters', 'termless']
```

> Hint: you might want to build a dictionary that maps from a
collection of letters to a list of words that can be spelled with those
letters.  The question is, how can you represent the collection of
letters in a way that can be used as a key?

2. Modify the previous program so that it prints the longest list
of anagrams first, followed by the second longest, and so on.

3. In Scrabble a "bingo" is when you play all seven tiles in
your rack, along with a letter on the board, to form an eight-letter
word.  What collection of 8 letters forms the most possible bingos?

Solution: http://thinkpython2.com/code/anagram_sets.py.

### Exercise 12.3

Two words form a "metathesis pair" if you can transform one into the
other by swapping two letters; for example, "converse" and
"conserve".  Write a program that finds all of the metathesis pairs
in the dictionary.  Hint: don't test all pairs of words, and don't
test all possible swaps.  Solution:
http://thinkpython2.com/code/metathesis.py.  Credit: This
exercise is inspired by an example at http://puzzlers.org.

### Exercise 12.4

Here's another Car Talk Puzzler
(http://www.cartalk.com/content/puzzlers):

> What is the longest English word, that remains a valid English word,
as you remove its letters one at a time?

> Now, letters can be removed from either end, or the middle, but you
can't rearrange any of the letters. Every time you drop a letter, you
wind up with another English word. If you do that, you're eventually
going to wind up with one letter and that too is going to be an
English word---one that's found in the dictionary. I want to know
what's the longest word and how many letters does it
have?

> I'm going to give you a little modest example: Sprite. Ok? You start
off with sprite, you take a letter off, one from the interior of the
word, take the r away, and we're left with the word spite, then we
take the e off the end, we're left with spit, we take the s off, we're
left with pit, it, and I.

Write a program to find all words that can be reduced in this way,
and then find the longest one.

This exercise is a little more challenging than most, so here are
some suggestions:

1. You might want to write a function that takes a word and
  computes a list of all the words that can be formed by removing one
  letter.  These are the "children" of the word.

2. Recursively, a word is reducible if any of its children
are reducible.  As a base case, you can consider the empty
string reducible.

3. The wordlist I provided, `words.txt`, doesn't
contain single letter words.  So you might want to add
"I", "a", and the empty string.

4. To improve the performance of your program, you might want
to memoize the words that are known to be reducible.


Solution: http://thinkpython2.com/code/reducible.py.

# 以下為示範如何將資料排序的方法

### 範例1：按照字串的長度排序

In [62]:
def sort_by_length(words):
    t = []
    for word in words:
        t.append((len(word), word))
    
    print("before sorting: t =", t)
    #t.sort(reverse=True)
    t.sort()
    print("after sorting: t =", t)
    res = []
    for length, word in t:
        res.append(word)
    return res

s = 'The first loop builds a list of tuples, where each tuple is a word preceded by its length.'
s2 = s.split()
a =sort_by_length(s2)
print('result = ', a)

before sorting: t = [(3, 'The'), (5, 'first'), (4, 'loop'), (6, 'builds'), (1, 'a'), (4, 'list'), (2, 'of'), (7, 'tuples,'), (5, 'where'), (4, 'each'), (5, 'tuple'), (2, 'is'), (1, 'a'), (4, 'word'), (8, 'preceded'), (2, 'by'), (3, 'its'), (7, 'length.')]
after sorting: t = [(1, 'a'), (1, 'a'), (2, 'by'), (2, 'is'), (2, 'of'), (3, 'The'), (3, 'its'), (4, 'each'), (4, 'list'), (4, 'loop'), (4, 'word'), (5, 'first'), (5, 'tuple'), (5, 'where'), (6, 'builds'), (7, 'length.'), (7, 'tuples,'), (8, 'preceded')]
result =  ['a', 'a', 'by', 'is', 'of', 'The', 'its', 'each', 'list', 'loop', 'word', 'first', 'tuple', 'where', 'builds', 'length.', 'tuples,', 'preceded']

## 範例2：按照字母的順序排序

In [60]:
def sort_by_word(words):
    t = []
    for word in words:
        t.append((word, len(word)))
    
    print("before sorting: t =", t)
    #t.sort(reverse=True)
    t.sort()
    print("after sorting: t =", t)
    res = []
    for word, length in t:
        res.append(word)
    return res

s = 'The first loop builds a list of tuples, where each tuple is a word preceded by its length.'
s2 = s.split()
a =sort_by_word(s2)
print('result = ', a)

before sorting: t = [('The', 3), ('first', 5), ('loop', 4), ('builds', 6), ('a', 1), ('list', 4), ('of', 2), ('tuples,', 7), ('where', 5), ('each', 4), ('tuple', 5), ('is', 2), ('a', 1), ('word', 4), ('preceded', 8), ('by', 2), ('its', 3), ('length.', 7)]
after sorting: t = [('The', 3), ('a', 1), ('a', 1), ('builds', 6), ('by', 2), ('each', 4), ('first', 5), ('is', 2), ('its', 3), ('length.', 7), ('list', 4), ('loop', 4), ('of', 2), ('preceded', 8), ('tuple', 5), ('tuples,', 7), ('where', 5), ('word', 4)]
result =  ['The', 'a', 'a', 'builds', 'by', 'each', 'first', 'is', 'its', 'length.', 'list', 'loop', 'of', 'preceded', 'tuple', 'tuples,', 'where', 'word']

### the built-in function sorted() and reversed()
#### sorted()：將序列的資料按照大小排序
#### reversed()：將序列中的資料項目以相反的順序排列，例如：t = [5,1,3]， reversed(t) 的結果是 [3,1,5]

In [59]:
a = "today"
b = [1, 5, 9, 7, 3]
c = (2, 8, 6, 4)
print(sorted(a))
print(sorted(b))
print(sorted(c))

# returns an iterator that traverses the list in reverse order
x = reversed(c)
print(x)
for i in x:
    print(i)

['a', 'd', 'o', 't', 'y']
[1, 3, 5, 7, 9]
[2, 4, 6, 8]
<reversed object at 0x000001CFF2270A60>
4
6
8
2

# Baby names: Top 100 most popular boys and girls' names

https://www.independent.co.uk/news/uk/home-news/baby-names-top-100-most-popular-boys-and-girls-names-10459074.html

嬰兒名字：最受歡迎的100個男孩和女孩名字

In [62]:
fin = open('common_names.txt')
for line in fin:
    s = line.strip().split()
    if len(s) > 0:
        print(s[1])

Olivia
Emma
Amelia
Ava
Sophia
Charlotte
Isabella
Mia
Luna
Harper
Gianna
Evelyn
Aria
Ella
Ellie
Mila
Layla
Avery
Ryilee
Camila
Lily
Scarlett
Sofia
Nova
Aurora
Chloe
Riley
Nora
Hazel
Abigail
Penelope
Elena
Zoey
Isla
Elizabeth
Eleanor
Madison
Willow
Emilia
Violet
Emily
Eliana
Stella
Maya
Paisley
Everly
Addison
Ivy
Litte
Grace

### 使用 random 產生隨機整數，以及 SID (student ID, 學號)，名字

In [63]:
import random

for i in range(40):
    score = random.randint(60,100)
    print(score, end=' ')
print()

for i in range(40):
    id1 = 108207400+i+1
    print(id1,end=" ")
print()    
for i in range(40):
    sid = '1102074{:02d}'.format(i+1)
    print(sid, end=" ")
print()

fin = open('common_names.txt')
for line in fin:
    s = line.strip().split()
    if len(s) > 0:
        print(s[1])

82 84 90 85 61 89 73 64 97 65 81 97 71 72 69 73 65 62 82 65 90 89 72 64 72 80 96 86 69 78 86 73 94 96 79 87 98 95 65 99
108207401 108207402 108207403 108207404 108207405 108207406 108207407 108207408 108207409 108207410 108207411 108207412 108207413 108207414 108207415 108207416 108207417 108207418 108207419 108207420 108207421 108207422 108207423 108207424 108207425 108207426 108207427 108207428 108207429 108207430 108207431 108207432 108207433 108207434 108207435 108207436 108207437 108207438 108207439 108207440
110207401 110207402 110207403 110207404 110207405 110207406 110207407 110207408 110207409 110207410 110207411 110207412 110207413 110207414 110207415 110207416 110207417 110207418 110207419 110207420 110207421 110207422 110207423 110207424 110207425 110207426 110207427 110207428 110207429 110207430 110207431 110207432 110207433 110207434 110207435 110207436 110207437 110207438 110207439 110207440
Olivia
Emma
Amelia
Ava
Sophia
Charlotte
Isabella
Mia
Luna
Harper
Gianna
Evelyn
Aria
Ella
Ellie
Mila
Layla
Avery
Ryilee
Camila
Lily
Scarlett
Sofia
Nova
Aurora
Chloe
Riley
Nora
Hazel
Abigail
Penelope
Elena
Zoey
Isla
Elizabeth
Eleanor
Madison
Willow
Emilia
Violet
Emily
Eliana
Stella
Maya
Paisley
Everly
Addison
Ivy
Litte
Grace

### 以下程式示範如何對資料進行排序

### 三種優先順序
1. sid (學號)
2. name (姓名)
3. score (成績)

In [64]:
import random

fin = open('common_names.txt')

num_students = 30

names = []
count = 0
for line in fin:
    s = line.strip().split()
    if len(s) > 0:
        names.append(s[1])
        count = count + 1
        if count == num_students:
            break
        
t1 = []
t2 = []
t3 = []

for i in range(num_students):
    score = random.randint(60,100)
    sid = '1102074{:02d}'.format(i+1)
    name = names[i]
    tup = (sid, name, score)
    print(tup)
    t1.append(tup)
    t2.append((name, sid, score))
    t3.append((score, sid, name))

print('sorted by ID:')
t1.sort()
for i in t1:
    print(i)
    
print('sorted by name:')
t2.sort()
for i in t2:
    print(i)
    
print('sorted by score:')
t3.sort()
for i in t3:
    #print(i)
    #print(i[1],i[2],i[0])
    s = "{}  {:<20s}  {}".format(i[1],i[2],i[0])
    print(s)

('110207401', 'Olivia', 68)
('110207402', 'Emma', 70)
('110207403', 'Amelia', 81)
('110207404', 'Ava', 63)
('110207405', 'Sophia', 82)
('110207406', 'Charlotte', 82)
('110207407', 'Isabella', 82)
('110207408', 'Mia', 73)
('110207409', 'Luna', 85)
('110207410', 'Harper', 98)
('110207411', 'Gianna', 87)
('110207412', 'Evelyn', 96)
('110207413', 'Aria', 97)
('110207414', 'Ella', 99)
('110207415', 'Ellie', 81)
('110207416', 'Mila', 88)
('110207417', 'Layla', 64)
('110207418', 'Avery', 93)
('110207419', 'Ryilee', 66)
('110207420', 'Camila', 100)
('110207421', 'Lily', 72)
('110207422', 'Scarlett', 81)
('110207423', 'Sofia', 77)
('110207424', 'Nova', 97)
('110207425', 'Aurora', 98)
('110207426', 'Chloe', 62)
('110207427', 'Riley', 83)
('110207428', 'Nora', 83)
('110207429', 'Hazel', 60)
('110207430', 'Abigail', 96)
sorted by ID:
('110207401', 'Olivia', 68)
('110207402', 'Emma', 70)
('110207403', 'Amelia', 81)
('110207404', 'Ava', 63)
('110207405', 'Sophia', 82)
('110207406', 'Charlotte', 82)
('110207407', 'Isabella', 82)
('110207408', 'Mia', 73)
('110207409', 'Luna', 85)
('110207410', 'Harper', 98)
('110207411', 'Gianna', 87)
('110207412', 'Evelyn', 96)
('110207413', 'Aria', 97)
('110207414', 'Ella', 99)
('110207415', 'Ellie', 81)
('110207416', 'Mila', 88)
('110207417', 'Layla', 64)
('110207418', 'Avery', 93)
('110207419', 'Ryilee', 66)
('110207420', 'Camila', 100)
('110207421', 'Lily', 72)
('110207422', 'Scarlett', 81)
('110207423', 'Sofia', 77)
('110207424', 'Nova', 97)
('110207425', 'Aurora', 98)
('110207426', 'Chloe', 62)
('110207427', 'Riley', 83)
('110207428', 'Nora', 83)
('110207429', 'Hazel', 60)
('110207430', 'Abigail', 96)
sorted by name:
('Abigail', '110207430', 96)
('Amelia', '110207403', 81)
('Aria', '110207413', 97)
('Aurora', '110207425', 98)
('Ava', '110207404', 63)
('Avery', '110207418', 93)
('Camila', '110207420', 100)
('Charlotte', '110207406', 82)
('Chloe', '110207426', 62)
('Ella', '110207414', 99)
('Ellie', '110207415', 81)
('Emma', '110207402', 70)
('Evelyn', '110207412', 96)
('Gianna', '110207411', 87)
('Harper', '110207410', 98)
('Hazel', '110207429', 60)
('Isabella', '110207407', 82)
('Layla', '110207417', 64)
('Lily', '110207421', 72)
('Luna', '110207409', 85)
('Mia', '110207408', 73)
('Mila', '110207416', 88)
('Nora', '110207428', 83)
('Nova', '110207424', 97)
('Olivia', '110207401', 68)
('Riley', '110207427', 83)
('Ryilee', '110207419', 66)
('Scarlett', '110207422', 81)
('Sofia', '110207423', 77)
('Sophia', '110207405', 82)
sorted by score:
110207429  Hazel                 60
110207426  Chloe                 62
110207404  Ava                   63
110207417  Layla                 64
110207419  Ryilee                66
110207401  Olivia                68
110207402  Emma                  70
110207421  Lily                  72
110207408  Mia                   73
110207423  Sofia                 77
110207403  Amelia                81
110207415  Ellie                 81
110207422  Scarlett              81
110207405  Sophia                82
110207406  Charlotte             82
110207407  Isabella              82
110207427  Riley                 83
110207428  Nora                  83
110207409  Luna                  85
110207411  Gianna                87
110207416  Mila                  88
110207418  Avery                 93
110207412  Evelyn                96
110207430  Abigail               96
110207413  Aria                  97
110207424  Nova                  97
110207410  Harper                98
110207425  Aurora                98
110207414  Ella                  99
110207420  Camila                100

In [3]:
import random

fin = open('common_names.txt')

num_students = 50
lastnames = []
firstnames = []

for line in fin:                       #將資料換成串列
    s = line.strip().split()
    if len(s) > 0:
        firstnames.append(s[1])
        lastnames.append(s[2])
def getGPA(grade):                     #計算GPA
    if grade >= 90:
        return 4.3
    elif grade >= 85:
        return 4
    elif grade >= 80:
        return 3.7
    elif grade >= 77:
        return 3.3
    elif grade >= 73:
        return 3
    elif grade >= 70:
        return 2.7
    elif grade >= 67:
        return 2.3
    elif grade >= 63:
        return 2.0
    elif grade >= 60:
        return 1.7
    elif grade >= 50:
        return 1
    else:
        return 0

t1 = []
t2 = []
t3 = []
totalscore = 0
totalcredit = 0
totalgpa = 0

for i in range(num_students):
    sid = '1102074{:02d}'.format(i+1)  #學號  
    name = '{} {}'.format(firstnames[i],lastnames[i])
    coarse = random.randint(3,8)       #選課數
    
    for i in range(0,coarse):
        credit = random.randint(1,4)   #學分
        score = random.randint(0,100)  #分數
        sgpa = getGPA(score)           #單科GPA
        totalscore += round(credit*score,3)
        totalcredit += credit
        totalgpa += round(credit*sgpa,3)
        
    avgscore = round(totalscore/totalcredit,1) #百分制
    gpa = round(totalgpa/totalcredit,1)        #GPA
    
    tup = (sid, name, coarse, avgscore, gpa, totalcredit)   #tuple
    t1.append(tup)
    t2.append((name, sid, coarse, avgscore, gpa, totalcredit))
    t3.append((avgscore, sid , name, coarse, gpa, totalcredit))
    
    totalscore = 0                             #將數據歸零
    totalcredit = 0                             
    totalgpa = 0
    
print('sorted by ID:')                         #學號
t1.sort()
a = "{:<7}  {:<18}  {:<9} {:<8} {:<7} {}".format('學號','姓名','平均成績','選課數','學分數','GPA')
print(a)
for i in t1:
    s1 = "{}  {:<20s}  {:<12} {:<10} {:<10} {}".format(i[0],i[1],i[3],i[2],i[5],i[4])
    print(s1)
    
print('sorted by name:')                       #姓名
t2.sort()
print(a)
for i in t2:
    s2 = "{}  {:<20s}  {:<12} {:<10} {:<10} {}".format(i[1],i[0],i[3],i[2],i[5],i[4])
    print(s2)
    
print('sorted by score:')                      #平均成績
t3.sort()
print(a)
for i in t3:
    if i[5]<10:
        t3.remove(i)
        continue
    s3 = "{}  {:<20s}  {:<12} {:<10} {:<10} {}".format(i[1],i[2],i[0],i[3],i[5],i[4])
    print(s3)

sorted by ID:
學號       姓名                  平均成績      選課數      學分數     GPA
110207401  Olivia Liam           72.7         4          6          2.6
110207402  Emma Noah             65.9         6          16         2.3
110207403  Amelia Oliver         70.6         3          8          2.3
110207404  Ava Elijah            47.0         8          22         1.3
110207405  Sophia Lucas          68.8         3          10         2.6
110207406  Charlotte Levi        23.2         4          8          0.2
110207407  Isabella Mason        59.7         6          12         1.5
110207408  Mia James             20.8         7          14         0.0
110207409  Luna Asher            73.0         3          8          3.2
110207410  Harper Mateo          71.6         8          19         3.0
110207411  Gianna Ethan          35.9         3          7          0.3
110207412  Evelyn Leo            53.0         3          4          1.9
110207413  Aria Benjamin         50.3         8          21         1.5
110207414  Ella Jack             39.1         3          7          0.6
110207415  Ellie Aiden           50.8         7          21         1.3
110207416  Mila Logan            46.0         8          23         0.8
110207417  Layla Grayson         34.1         5          14         0.7
110207418  Avery Leriel          21.0         4          10         0.0
110207419  Ryilee Jackson        64.1         5          13         2.7
110207420  Camila Henry          68.1         4          9          2.6
110207421  Lily Wyatt            37.2         4          10         0.4
110207422  Scarlett Sebastian    92.0         3          6          4.2
110207423  Sofia Carter          44.0         3          8          1.4
110207424  Nova Daniel           46.6         4          10         1.3
110207425  Aurora William        48.7         5          12         1.4
110207426  Chloe Alexander       44.4         7          18         1.1
110207427  Riley Ezra            31.4         5          15         0.3
110207428  Nora Owen             69.7         6          15         2.7
110207429  Hazel Julian          68.7         8          20         2.8
110207430  Abigail Michael       59.3         6          15         1.9
110207431  Penelope Muhammad     41.9         6          11         0.5
110207432  Elena Hudson          37.3         4          9          0.4
110207433  Zoey Luke             37.2         3          6          0.7
110207434  Isla Jacob            40.6         7          14         1.1
110207435  Elizabeth Samuel      58.9         8          14         2.0
110207436  Eleanor Lincoln       54.6         7          17         1.4
110207437  Madison Gabriel       54.5         4          15         2.0
110207438  Willow Jayden         40.0         3          10         0.7
110207439  Emilia Luca           29.8         3          5          1.1
110207440  Violet Maverick       57.5         6          13         1.6
110207441  Emily Josiah          47.5         7          15         1.2
110207442  Eliana David          72.3         3          3          2.8
110207443  Stella Elias          49.1         6          18         1.2
110207444  Maya Jaxon            24.5         6          16         0.4
110207445  Paisley Kai           32.4         5          14         0.0
110207446  Everly Anthony        47.0         4          9          1.1
110207447  Addison Isaiah        53.4         4          10         1.5
110207448  Ivy Eli               69.2         5          13         2.8
110207449  Litte John            49.4         8          23         1.4
110207450  Grace Matthew         80.3         3          9          3.2
sorted by name:
學號       姓名                  平均成績      選課數      學分數     GPA
110207430  Abigail Michael       59.3         6          15         1.9
110207447  Addison Isaiah        53.4         4          10         1.5
110207403  Amelia Oliver         70.6         3          8          2.3
110207413  Aria Benjamin         50.3         8          21         1.5
110207425  Aurora William        48.7         5          12         1.4
110207404  Ava Elijah            47.0         8          22         1.3
110207418  Avery Leriel          21.0         4          10         0.0
110207420  Camila Henry          68.1         4          9          2.6
110207406  Charlotte Levi        23.2         4          8          0.2
110207426  Chloe Alexander       44.4         7          18         1.1
110207436  Eleanor Lincoln       54.6         7          17         1.4
110207432  Elena Hudson          37.3         4          9          0.4
110207442  Eliana David          72.3         3          3          2.8
110207435  Elizabeth Samuel      58.9         8          14         2.0
110207414  Ella Jack             39.1         3          7          0.6
110207415  Ellie Aiden           50.8         7          21         1.3
110207439  Emilia Luca           29.8         3          5          1.1
110207441  Emily Josiah          47.5         7          15         1.2
110207402  Emma Noah             65.9         6          16         2.3
110207412  Evelyn Leo            53.0         3          4          1.9
110207446  Everly Anthony        47.0         4          9          1.1
110207411  Gianna Ethan          35.9         3          7          0.3
110207450  Grace Matthew         80.3         3          9          3.2
110207410  Harper Mateo          71.6         8          19         3.0
110207429  Hazel Julian          68.7         8          20         2.8
110207407  Isabella Mason        59.7         6          12         1.5
110207434  Isla Jacob            40.6         7          14         1.1
110207448  Ivy Eli               69.2         5          13         2.8
110207417  Layla Grayson         34.1         5          14         0.7
110207421  Lily Wyatt            37.2         4          10         0.4
110207449  Litte John            49.4         8          23         1.4
110207409  Luna Asher            73.0         3          8          3.2
110207437  Madison Gabriel       54.5         4          15         2.0
110207444  Maya Jaxon            24.5         6          16         0.4
110207408  Mia James             20.8         7          14         0.0
110207416  Mila Logan            46.0         8          23         0.8
110207428  Nora Owen             69.7         6          15         2.7
110207424  Nova Daniel           46.6         4          10         1.3
110207401  Olivia Liam           72.7         4          6          2.6
110207445  Paisley Kai           32.4         5          14         0.0
110207431  Penelope Muhammad     41.9         6          11         0.5
110207427  Riley Ezra            31.4         5          15         0.3
110207419  Ryilee Jackson        64.1         5          13         2.7
110207422  Scarlett Sebastian    92.0         3          6          4.2
110207423  Sofia Carter          44.0         3          8          1.4
110207405  Sophia Lucas          68.8         3          10         2.6
110207443  Stella Elias          49.1         6          18         1.2
110207440  Violet Maverick       57.5         6          13         1.6
110207438  Willow Jayden         40.0         3          10         0.7
110207433  Zoey Luke             37.2         3          6          0.7
sorted by score:
學號       姓名                  平均成績      選課數      學分數     GPA
110207408  Mia James             20.8         7          14         0.0
110207418  Avery Leriel          21.0         4          10         0.0
110207445  Paisley Kai           32.4         5          14         0.0
110207417  Layla Grayson         34.1         5          14         0.7
110207434  Isla Jacob            40.6         7          14         1.1
110207431  Penelope Muhammad     41.9         6          11         0.5
110207416  Mila Logan            46.0         8          23         0.8
110207424  Nova Daniel           46.6         4          10         1.3
110207404  Ava Elijah            47.0         8          22         1.3
110207425  Aurora William        48.7         5          12         1.4
110207443  Stella Elias          49.1         6          18         1.2
110207449  Litte John            49.4         8          23         1.4
110207413  Aria Benjamin         50.3         8          21         1.5
110207415  Ellie Aiden           50.8         7          21         1.3
110207437  Madison Gabriel       54.5         4          15         2.0
110207436  Eleanor Lincoln       54.6         7          17         1.4
110207440  Violet Maverick       57.5         6          13         1.6
110207435  Elizabeth Samuel      58.9         8          14         2.0
110207430  Abigail Michael       59.3         6          15         1.9
110207407  Isabella Mason        59.7         6          12         1.5
110207419  Ryilee Jackson        64.1         5          13         2.7
110207402  Emma Noah             65.9         6          16         2.3
110207405  Sophia Lucas          68.8         3          10         2.6
110207448  Ivy Eli               69.2         5          13         2.8
110207428  Nora Owen             69.7         6          15         2.7